@font-face {
  font-family: 'Eastman Roman Demi Bold';
  src: url(EastmanRomanTrial-DemiBold.otf)
}

@font-face {
  font-family: 'Eastman Roman Regular Offset';
  src: url(EastmanRomanTrial-RegularOffset.otf);
}

@font-face {
  font-family: 'Eastman Roman Medium';
  src: url(EastmanRomanTrial-Medium.otf);
}

@font-face {
  font-family: 'Iverse mono';
  src: url(IverseMono-Regular.ttf);
}

.top {
  display: flex;
  margin-left: 3.6rem;
}

.logo {
  padding-left: 0rem;
  padding-top: 2rem;
}

.fish {
  margin-left: 1rem;
  margin-top: 2rem;
  margin-right: 0.5rem;
  width: 5%;

}

.small-header {
  font-family: "Eastman Roman Regular Offset";
  font-size: 0.65rem;
  margin-bottom: -1.7rem;
}

.header {
  color: #d1d0c5;
  font-family: "Eastman Roman Medium";
}

.paragraph {
  position: absolute;
  color: #646669;
  line-height: 2.3rem;
  font-family: "Roboto Mono", monospace;
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.5rem;
  font-weight: 400;

}

.refresh-button {
  position: fixed;
  bottom: 15rem;
  
}

.settings {
  background-color: #2c2e31;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;

}

.button {
  color: #5e6063;
  background-color: #2c2e31;
  font-family: "Iverse mono";
  font-size: 0.7rem;
  padding: 0.5rem;
  border: 0rem;

}

.refresh-button {
  background-color: #323437 ;
  border: 0rem;

  width: 1.5%;
  left: 50%;
  
}



.input-container {
  color: white;
  line-height: 2.3rem;
  font-family: "Roboto Mono", monospace;
  top: 15.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  position: absolute;
  font-weight: 400;
}

.input-box {
  background: transparent;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.userText {
  color: white;
}

body {
  background-color: #323437;
  color: white;
}